*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Outfit' ,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*  */

/* debug */
div {
  /* border: 2px solid red;
  border-radius: 12px; */
}

:root {
  --default-color: #c4b5fd;
  --default-light-color: #ede9fe;
  --inverted-default-color: #3b4a02;


}

/* BODY */

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 0.7fr 2fr 1fr;
  grid-template-rows: 8rem 1fr;
}

.header {
  grid-column: 2 / 4;
}

.side {
  grid-row: 1 / 3;
}

.main {
  grid-column: 2 / 4;
}


/* HEADER  */

.header {
  display: grid;
  grid-template-rows: 5fr 6fr;
}

.top-panel {
  grid-row: 1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

.bottom-panel {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-panel .right {
  grid-template-columns: 1fr 1fr 4fr;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.left {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  padding: 0 4rem;
}

.greetings span {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
}

.top-panel .left {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1.5rem 1fr;
}

.bottom-panel .left {
  display: grid;
  gap: 1rem;
}

.search-bar {
  border-radius: 10px;
  border: none;
  background-color: rgb(231, 231, 231);
  padding: 0 1rem;
  width: 90%;
  height: 1.8rem;
}

.bell-icon {
  justify-self: end;
  min-width: 25px;
}

.avatar-icon {
  min-width: 50px;
  border-radius: 50%;
}
.right .name {
  justify-self: start;
}

.right a {
  display: block;
  width: 10ch;
  color: black;
  background-color: var(--default-color);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  text-decoration: none;
}

/* SIDEBAR */

.side {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;

  background-color: var(--default-color);
  color: rgb(14, 13, 13);

  font-size: 1.4rem;
  font-weight: 600;
}

.settings {
  margin-top: 2rem;
}
.nav,
.settings-menu {
  display: grid;
  gap: 0.5rem;
  align-content: start;
}

.nav-item {
  display: grid;
  
  grid-template-columns: 1em 1fr;
  align-items: center;
  gap: 0 0.5rem;
  height: fit-content;
}

.nav-item img {
  max-height: 1em;
}



/* MAIN */

.main {

  padding: 1rem 1.5rem 1rem 1rem;
  gap: 1rem;

  display: grid;
  grid-template-columns: 2fr 0.7fr;
  gap: 0 2rem;
  grid-template-rows: 2rem 1fr;

  background-color: var(--default-light-color);
}


/* MAIN CONTENT */

.content-grid {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: max-content;
  gap: 1.5rem;
  align-items: start;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1rem;
  grid-template-rows: 3fr 1fr;
  align-content: center;
  background-color: white;

  /* max-height: 200px; */
  border-left: var(--inverted-default-color) 4px solid;
}

.grid-item .item-info {
  padding: 1rem 1rem;
  grid-column: 1 / 3;

}
.grid-item .item-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.grid-item .item-description {
  font-size: 0.8rem;
}

.grid-item .item-icons {
  max-height: fit-content;
  width: fit-content;
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 2;
  gap: 1rem;
}

.grid-item .item-icons img {
  width: 20px;
}

.grid-item .item-icons img:hover {
  cursor: pointer;
}
/* MAIN MISC */

.misc-grid {
  display: grid;
  grid-row: 1 / 3;
  grid-column: 2 / 3;

  grid-template-rows: 2rem 1fr 2rem 1fr;
  /* gap: 1rem; */
  width: 80%;
}

/* ANNOUNCEMENTS */

.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  background-color: white;
  padding: 1rem;
  gap: 0.5rem;
}
.announcement-item {
  font-size: .7rem;
  padding-top: 1rem;
}

.announcement-item:not(.announcement-item:last-child) {
  border-bottom: 2px solid rgb(74, 74, 74);
  padding-bottom: 1rem;
}

.announcement-item .item-name {
  font-weight: bold;
  font-size: 1.1em;
}

.announcement-item .item-description {
  font-size: 0.8rem;
  color: rgb(74, 74, 74);
}

/* TRENDING */

.trending {
  display: grid;
  align-content: space-evenly;
  background-color: white;
}
.trending span {
  display: block;
}

.trending-item {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}

.item-avatar {
  justify-self: center;
}

.trending-item .item-name {
  font-size: 0.9rem;
}

.grid-item,
.announcements,
.trending {
  border-radius: 12px;
}

.legend {
  font-size: 1.2rem;
  font-weight: 600;
}